body {
  padding: 30px 20px 30px;
  background-color: #000;
  color: white;
  font-family: "Gilroy";
  margin: 0px;
  width: 95%;
  min-height: 100vh;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("Gilroy-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("Gilroy-Medium.ttf") format("truetype");
}

h1 {
  font-size: 97px;
  font-weight: bold;
  text-align: center;
  line-height: 107px;
  letter-spacing: -3px;
  margin-top: 100px;
  margin-bottom: 0px;
}
p {
  font-family: "Gilroy-Bold";
  margin-bottom: 0px;
  font-size: 26px;
  text-align: center;
  line-height: 38px;
  margin-top: 35px;
  letter-spacing: -0.2px;
}
header {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
}
div.nav {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
a.menu {
  display: flex;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-family: Gilroy-Bold;
  font-size: 19px;
  line-height: 36px;
  white-space: nowrap;
  margin-right: 20px;
  margin-left: 36px;
  letter-spacing: 0px;
}
.dwld {
  width: 200px;
  justify-content: center;
  align-items: center;
  border: white;
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  pointer-events: auto;
  text-align: center;
  padding: 20px 65px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  font-family: "Gilroy-Bold";
  font-weight: bolder;
  letter-spacing: 0.4px;
  line-height: 30px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 58px;
  width: auto;
}
a {
  text-decoration: none;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  body {
    padding: 60px;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 65px;
    font-weight: bold;
    text-align: left;
    line-height: 55px;
    letter-spacing: -1.65px;
    white-space: inherit;
    width: 340px;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .para {
    font-family: "Gilroy-bold";
    margin-bottom: 0px;
    font-size: 19px;
    text-align: left;
    line-height: 24px;
    margin-top: 35px;
    letter-spacing: 0px;
    width: 320px;
    white-space: pre-line;
  }
  footer {
    justify-content: flex-start;
  }
  a.btn {
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 16px 28px;
    cursor: none;
  }
  a.hid {
    display: none;
    visibility: hidden;
  }
  a.dwld {
    font-size: 11px;
    padding: 8px 26px;
    cursor: none;
    letter-spacing: 0px;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solidrgb(248, 248, 248);
    border-radius: 22px;
    outline: none;
    margin-left: 36px;
    margin-right: 0px;
    width: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .heading {
    font-size: 83px;
  }
}
