body {
  padding: 30px 20px 30px;
  background-color: #000;
  color: white;
  font-family: "Gilroy";
  margin: 0px;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("Gilroy-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("Gilroy-Medium.ttf") format("truetype");
}
h1 {
  font-size: 97px;
  font-weight: bold;
  text-align: center;
  line-height: 107px;
  letter-spacing: -3px;
  margin-top: 100px;
  margin-bottom: 0px;
}
p {
  font-family: "Gilroy-Bold";
  margin-bottom: 0px;
  font-size: 26px;
  text-align: center;
  line-height: 38px;
  margin-top: 35px;
  letter-spacing: -0.2px;
}
header {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
}
div.nav {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
a.menu {
  display: flex;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-family: Gilroy-Bold;
  font-size: 19px;
  line-height: 36px;
  white-space: nowrap;
  margin-right: 20px;
  margin-left: 36px;
  letter-spacing: 0px;
}
.dwld {
  width: 200px;
  justify-content: center;
  align-items: center;
  border: white;
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
}
footer {
  display: grid;
  align-items: center;
  justify-content: center;
}
.btn {
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  pointer-events: auto;
  text-align: center;
  padding: 20px 65px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  font-family: "Gilroy-Bold";
  font-weight: bolder;
  letter-spacing: 0.4px;
  line-height: 30px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 58px;
  width: auto;
}
a {
  text-decoration: none;
}
